@mixin transition($duration)
    -webkit-transition: $duration
    -moz-transition: $duration
    -ms-transition: $duration
    -o-transition: $duration
    transition: $duration


#btn-controller
    margin-bottom:40px
.character
    position: relative
    margin-bottom:20px
    padding-top: 10px
    .player-icon
        @include transition(.3s)
        text-align: center
        i
            font-size: 130px
    .stats-wrap
        @include transition(.3s)
        margin-top:13px
        p
            display: flex
            justify-content: space-between
            align-items: center            
            margin-bottom: 3px
            &:last-of-type 
                margin-bottom:0
            .bar
                width: calc(100% - 40px)
                background-color: #343a40
                height: 15px
                padding: 4px 3px
                .bar-content
                    background: #fff
                    left: 4px
                    height: 100%
                    background-color: rgba(255, 255, 255, 0.5)
            i
                font-size: 26px
    .fllr
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: rgba(255, 255, 255, 0.82)
        opacity: 0
        display: flex
        align-items: center
        justify-content: space-evenly
        flex-flow: column        
        @include transition(.3s)
    &:hover
        .player-icon
            filter: blur(3px)
        .stats-wrap
            filter: blur(3px)
        .fllr
            opacity: 1

   
