<app-loader [showloader]="showloader"></app-loader>
<!-- BUTTON -->
<div id="btn-controller" class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="action-outer-wrap">
        <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">CREATE NEW</button> -->
            <button type="button" class="btn btn-success" (click)="openModal(template)">CREATE</button>

            <div class="search-wrap active">
              <input type="text" class="form-control" placeholder="Search icon name..." [(ngModel)]="this.searchedName" #nameIcon>
              <button type="button" class="btn btn-success" (click)="findIcon(nameIcon.value)">Search</button>
              <button type="button" class="btn btn-warning" (click)="getIcons()">Show all</button>
            </div>            
          </div>

      </div>
    </div>
</div>
<!-- MODAL -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">CREATE NEW ICON</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="disabledTextInput">Font awsome icon code</label>
        <input type="text" class="form-control" placeholder="fa-code" #iconName>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-success" (click)="add(iconName.value)">Save changes</button>
    </div>
    </div>
  </div>
</div> -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Icon</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">

<!-- <input id="name" name="name" class="form-control"
      required minlength="4" appForbiddenName="bob"
      [(ngModel)]="hero.name" #name="ngModel" > -->
      <label for="disabledTextInput">Font awsome icon code (ex: fa-bug)</label>
      <input type="text" class="form-control" [(ngModel)]="this.value" #iconName="ngModel" >
      <small id="emailHelp" class="form-text text-muted"><a href="https://fontawesome.com/v4.7.0/icons/#web-application" target="_blank">Click here for more font awsome icon code.</a></small>
      <small id="emailHelp" class="form-text text-muted">Icon stats are random from 1 to 10.</small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    <button type="button" class="btn btn-success" (click)="add(iconName.value)" [disabled]="iconName.invalid" >Save changes</button>
  </div>  
</ng-template>

<!-- LIST OF RECORDS -->
<div class="container">
  <div class="row">
    <div *ngFor="let icon of icons" class="character col-md-r col-sm-3">
        <div class="inner-wrap">
          <div class="player-icon">
              <i class="fa {{icon.name}}" aria-hidden="true"></i>
              <pre>{{icon.name}}</pre>
          </div>
          <div class="stats-wrap">
            <p>
              <i class="fa fa-heartbeat" aria-hidden="true"></i>
              <span class="bar">
                  <div class="bar-content" [ngStyle]="{ 'width': icon.hp + '0%'}"></div>
              </span>          
            </p>
            <p>
              <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
              <span class="bar">
                  <div class="bar-content" [ngStyle]="{ 'width': icon.rock + '0%'}"></div>
              </span>
            </p>
            <p>
              <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
              <span class="bar">
                  <div class="bar-content" [ngStyle]="{ 'width': icon.paper + '0%'}"></div>
              </span>          
            </p>          
            <p>
              <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
              <span class="bar">
                  <div class="bar-content" [ngStyle]="{ 'width': icon.scissor + '0%'}"></div>
              </span>
            </p>
          </div>
          <div class="fllr">
            <button class="btn btn-success" (click)="temp()">SELECT</button>
            <button class="btn btn-danger" (click)="delete(icon)">DELETE</button>
          </div>          
        </div>
    </div>
  </div>
</div>
<!-- <app-pagination></app-pagination> -->