<div class="creator-counter" *ngIf='creatorHpPercent'>
    <pre>Total Wins : {{totalWins}}</pre>
    <pre>Successful hits : {{totalHits}}</pre>
  </div>
  <div [ngClass]="['show-log',enableLog ? 'click' : '']" (click)="showLog()">Result : {{enableLog}}</div>
  <app-loader [showloader]="showloader" [texty]="texty" [zIndex]="zIndex"></app-loader>
  <app-header [creator]="creator" ></app-header>
  <div [ngClass]="['container',(getHit==3) ? 'draw' : '']">
    <div class="row">
      <div [ngClass]="['col-md-12','vibrate-1']" *ngIf="battleLog() && enableLog">
        <div class="result-log">
         <div class="inner-wrap">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <pre>{{battleLog()}}</pre>
          <i class="fa fa-quote-right" aria-hidden="true"></i>         
         </div>
        </div>
      </div>
      <div class="col-md-6">
        <div [ngClass]="['icon-wrap', (getHit == 2) ? 'hitted' : '']" *ngIf='icon'>
          <div class="top-section">          
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':(creatorHpPercent)+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span><b>{{creator['username']}}</b> <pre>{{icon.name}}</pre></span>
          </div>
          <div class="icon-warrior">
            <div class="icon-wrap">
              <div *ngIf='!creatorHpPercent' [ngClass]="['battle-result',!creatorHpPercent ? 'score' : '']">
                <pre>DEFEATED</pre>
                <pre>Total Wins : {{totalWins}}</pre>
                <pre>Successful hits : {{totalHits}}</pre>
                <button class="btn btn-success">OK</button>
              </div>          
              <span [ngClass]="[
                'fa',
                icon.name,
                creatorHpPercent ? 'alive' : 'killed']"></span>
              <div id="controls" [ngClass]="[battleLog() ? 'disabled' : '',!creatorHpPercent ? 'deadme' : '']">
                <div class="btn-wrap">
                    <button (click)="creatorAtk(0)" [disabled]="battleLog()">
                        <span class="fa fa-hand-rock-o"></span>
                    </button>
                    <pre>DMG: {{icon.rock}}</pre>
                </div>              
                <div class="btn-wrap">
                    <button (click)="creatorAtk(1)" [disabled]="battleLog()">                     
                        <span class="fa fa-hand-paper-o"></span>
                    </button>
                    <pre>DMG: {{icon.paper}}</pre>
                </div>
                <div class="btn-wrap">
                    <button (click)="creatorAtk(2)" [disabled]="battleLog()">                      
                        <span class="fa fa-hand-scissors-o"></span>
                    </button>
                    <pre>DMG: {{icon.scissor}}</pre>               
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div [ngClass]="['icon-wrap', 'enemy', (getHit == 1) ? 'hitted' : '']" [ngStyle]="{'overflow':'hidden'}"  *ngIf='enemy'>
              <div class="top-section">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':(enemyHpPercent)+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span><b>{{enemy.creator}}</b> <pre>{{enemy.name}}</pre></span>
              </div>
              <div class="icon-warrior">
                  <div class="icon-wrap">
                    <span [ngClass]="[
                      'fa',
                      enemy.name,
                      enemyHpPercent ? 'alive' : 'killed']"></span>
  
                    <div 
                    *ngIf="enemyCurrentAtk"
                    [ngClass]="
                      {
                        'enemy-attack' : true,
                        'wiggle': enemyCurrentAtk && enemyHpPercent,
                        'dead': !enemyHpPercent 
                      }" 
                    [ngStyle]="
                      {
                        'background-color': enemyAttackBg[enemyBgCounter],
                        'left': enemyAttackPosition[enemyBgCounter][0],
                        'bottom': enemyAttackPosition[enemyBgCounter][1]
                      }">
                      <span class="fa fa-hand-{{enemyCurrentAtk}}-o"></span>
                        <!-- <pre style='position: absolute;'>{{enemyCurrentAtk}}</pre> -->
                    </div>
                  </div>
                </div>           
          </div>
      </div>
    </div>
  </div>
  <!-- MODAL FOR ASKING PLAYER NAME -->
  <div [config]="{ show: false }" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-auto-name" class="modal-title pull-left">Caution!!</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <label for="disabledTextInput">Set your name :</label>
              <input type="text" class="form-control" #creatorName="ngModel" [(ngModel)]="this.value" minlength="3" pattern="[a-zA-Z]*" required>     
              <small class="form-text text-muted">Name is required before you fight!</small>
              <small class="form-text text-muted">Letters only min of 3 characters</small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" routerLink="">I don't have name</button>
            <button type="button" class="btn btn-success" (click)="setCreator(creatorName.value)" [disabled]="creatorName.invalid">Submit</button>
          </div>      
      </div>
    </div>
  </div>