<app-loader [showloader]="showloader" [texty]="texty"></app-loader>
<app-header [creator]="creator" ></app-header>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-6">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr> 
    <tr>
      <th scope="row">6</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>            
  </tbody>
</table>
		</div>
		<div class="col-md-2" >
			<div class="simple-high" *ngIf="creator?.username">
				<pre class="ttl">Hello</pre>
				<pre>{{creator.username}}</pre>
				<pre class='ttl curscore'>Current Score</pre>
				<h2>{{creator.score}}</h2>	
			</div>
			<br>
			<div class="alert alert-danger" role="alert" *ngIf="creator?.username">
				Sorry can't include your score to the ranking, <a routerLink="/account" class="alert-link">REGISTER FIRST</a>
			</div>
			<div class="alert alert-danger" role="alert" *ngIf="!creator?.username">
				<a routerLink="/account" class="alert-link">REGISTER HERE</a>
			</div>
		</div>		
	</div>
</div>